<h1><%= @student.first_name %> <%= @student.last_name %></h1>

<p>
   <strong>Personal ID: </strong> <%= @student.p_id %><br />
   <strong>Gender:</strong> <%= @student.gender %><br />
   <strong>Address:</strong> <%= @student.address %><br />
   <strong>Phone Nr:</strong> <%= @student.phone_nr %><br />
   <strong>Study Program:</strong> <%= @student.study_program %><br />
   <strong>Study Type:</strong> <%= @student.study_type %><br />
</p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>